* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.about_header {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../../Images/travel3.jpeg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_title {
  font-size: 4rem;
  font-family: var(--font-family);
  color: var(--secondary-color);
  letter-spacing: 0.2rem;
}

.header_slogan {
  font-family: var(--font-family);
  letter-spacing: 0.3rem;
  font-size: 12px;
  font-style: italic;
  color: var(--hover-color);
}

.about_main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tittle h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 10px;
  padding: 10px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: var(--font-family);
  color: var(--primary-color);
  font-weight: bold;
}

.tittle hr {
  border: 0.3px dotted var(--hover-color);
}

.main_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  letter-spacing: 0.5px;
}

.main_text {
  display: flex;
  flex-direction: column;
  flex: 4;
  justify-content: space-around;
  margin: 7px;
  align-items: center;
  font-family: var(--font-family);
  /* text-indent: 15px; */
  font-size: 10px;
  color: var(--primary-color);
  padding: 20px;
  opacity: 0.6;
}

#p_one {
  background-color: var(--hover-color);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 2px 2px var(--primary-color);
}

#p_two {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px var(--primary-color);
}

.main_img {
  background-image: linear-gradient(rgba(14, 13, 13, 0.6), rgba(0, 0, 0, 0.5)),
    url("../../Images/about_image.jpeg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  width: 40px;
  height: 18.6rem;
  display: flex;
  flex: 5;
}

/* ABOUT PAGE FOOTER */

.footer_container {
  margin-top: 5vh;
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-rows: repeat(6, minmax(20px, 1fr));
  grid-template-areas:
    "h h h h"
    "d d d d"
    "c c c c"
    "c c c c"
    "c c c c"
    "c c c c";
  /* background-color: violet; */
}

.footer_header {
  grid-area: h;
  height: 80%;
  display: grid;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.footer_header h1 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: var(--font-family);
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 10px;
}

hr {
  grid-area: d;
  align-self: flex-end;
  border: 0.3px dotted var(--hover-color);
  margin-bottom: 30px;
  /* background-color: green; */
}

.boxes_container {
  grid-area: c;
  width: 100%;
  height: 100%;
  /* background-color: teal; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 23%;
  height: 80%;
  font-family: var(--font-family);
  box-shadow: 0px 0px 5px var(--hover-color);
  border-radius: 3%;
  letter-spacing: 0.5px;
}

.box h6 {
  grid-area: h;
  display: flex;
  justify-content: center;
  color: var(--hover-color);
  font-family: var(--font-family);
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: 1px;
}

.spend_tips li,
.earn_tips li,
.travel_tips li {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  font-size: 0.7rem;
  font-weight: 200;
  color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
  .about_header {
    height: 40vh;
  }

  .header_title {
    font-size: 2em;
  }
  .tittle h1 {
    font-size: 1.7em;
  }

  .tittle hr {
    border: 0.3px dotted var(--hover-color);
    margin-top: 30px;
  }

  .about_main {
    height: 100vh;
  }

  .main_desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    letter-spacing: 0.5px;
  }
  .main_text {
    padding: 5px;
  }

  #p_one {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    opacity: 0.9;
    font-size: 12px;
    box-shadow: 0px 0px 3px 3px var(--primary-color);
  }

  #p_two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    opacity: 1;
    font-size: 12px;
    opacity: 0.9;
    box-shadow: 0px 0px 3px 3px var(--primary-color);
  }

  .main_img {
    width: 100%;
  }

  .footer_container {
    height: 60%;
    display: grid;
    grid-template-rows: repeat(8, 100px);
    grid-template-areas:
      "h h h h"
      "d d d d"
      "c c c c"
      "c c c c"
      "c c c c"
      "c c c c"
      "c c c c"
      "c c c c";
    /* background-color: seagreen; */
  }

  .footer_header {
    display: flex;
    justify-content: center;
    align-self: center;
    grid-area: h;
    margin-top: 10vh;
  }

  .footer_header h1 {
    font-size: 1.7em;
  }

  hr {
    grid-area: d;
    margin-bottom: 5vh;
  }

  .boxes_container {
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .box {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30%;
    background-color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: 23px;
    opacity: 0.7;
    box-shadow: 0px 0px 3px 3px var(--primary-color);
    border-radius: 3%;
    letter-spacing: 0.5px;
  }

  .box h6 {
    font-size: 1em;
    font-weight: bold;
  }

  .spend_tips li,
  .earn_tips li,
  .travel_tips li {
    list-style: none;
    font-size: 0.7em;
    color: var(--primary-color);
  }
}
