* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

:focus {
  outline: none;
}

/* HOMEPAGE NAVBAR*/

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6vh;
  background-color: var(--secondary-color);
  position: fixed;
  z-index: 1;
  box-shadow: 2px 1px 3px var(--hover-color);
}

/* LOGO DESIGN */

.logo-container {
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logoName {
  padding: 0px;
  font-size: 12px;
  letter-spacing: 0.3px;
  text-decoration: none;
  color: var(--hover-color);
  font-style: italic;
  font-family: var(--font-family);
}

.logoName:hover,
.logoName:focus {
  opacity: 0.9;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1.5px solid var(--hover-color);
}

/* MENU LINKS */

.main-nav {
  width: 50%;
  height: 100%;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.nav-item {
  font-size: 10px;
  letter-spacing: 0.3px;
  font-family: var(--font-family);
  font-style: italic;
  color: var(--primary-color);
  text-decoration: none;
}

.nav-item:hover,
.nav-item:focus {
  opacity: 0.9;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1.5px solid var(--hover-color);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--primary-color);
  margin: 5px;
}

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}
*/

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}
*/

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...} */

/* Smartphones */

@media (max-width: 500px) {
  .logo-container {
    width: 45%;
  }

  .logoName {
    font-size: 16px;
  }

  .burger {
    display: block;
    height: 100%;
    cursor: pointer;
    padding-left: 10px;
    margin: 5px;
    position: fixed;
  }

  .burger div {
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 5px;
  }

  .main-nav {
    width: 25%;
  }

  .nav-items {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 800px) {
  dl,
  ol,
  ul {
    margin-bottom: 0px;
  }

  .logo-container {
    width: 30%;
  }

  .logoName {
    font-size: 20px;
  }
  .main-nav {
    width: 55%;
  }
  .main-nav div {
    height: 100%;
  }

  .nav-items {
    height: 100%;
  }
  .nav-item {
    font-size: 15px;
  }
}

@media only screen and (min-width: 882px) {
  .links-list ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
  }

  .nav-links {
    font-size: 10px;
    letter-spacing: 0.3px;
    font-family: var(--nav-font);
    font-style: italic;
    color: var(--primary-color);
    text-decoration: none;
  }

  .main-nav {
    margin-right: 1%;
    width: 45%;
    /* background-color: red; */
  }
}
