* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

:focus {
  outline: none;
}

/* HOMEPAGE NAVBAR*/

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6vh;
  background-color: var(--secondary-color);
  position: fixed;
  z-index: 1;
  box-shadow: 2px 1px 3px var(--hover-color);
}

/* LOGO DESIGN */
.logo-container {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}

.logoName {
  font-size: 10px;
  letter-spacing: 0.3px;
  font-family: var(--nav-font);
  text-decoration: none;
  color: var(--primary-color);
  translate: 100ms;
  transform: scale(1);
  font-style: italic;
}

.logoName:hover,
.logoName:focus {
  transform: scale(1.1);
  opacity: 0.9;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1.6px solid var(--hover-color);
}

/* MENU LINKS */

.main-nav {
  margin-right: 1%;
  width: 30%;
  height: 100%;
}


.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-item {
  font-size: 10px;
  letter-spacing: 0.3px;
  font-family: var(--nav-font);
  font-style: italic;
  color: var(--primary-color);
  text-decoration: none;
}

.nav-item:hover {
  opacity: 0.9;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1.6px solid var(--hover-color);
}

.nav-item:focus {
  opacity: 0.9;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1.6px solid var(--hover-color);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--primary-color);
  margin: 5px;
}

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}
*/

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}
*/

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...} */

/* Smartphones */

@media (max-width: 320px) {
  .burger {
    display: block;
    float: right;
    margin-right: 20px;
    height: 100%;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    margin-top: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
}

@media (max-width: 600px) {
  .nav-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6vh;
    background-color: var(--secondary-color);
    position: fixed;
    z-index: 1;
    box-shadow: 2px 1px 3px var(--hover-color);
  }


  .logo-container {
    display: flex;
    width: 30%;
    margin-left: 5%;
  }

  .logoName {
    width: 400px;
    font-size: 18px;
    letter-spacing: 0.3px;
    font-family: "Crimson Pro", serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    translate: 100ms;
    transform: scale(1);
    text-align: center;
  }

  .logoName:hover {
    cursor: pointer;
    border-bottom: none;
  }

  .main-nav {
    width: 20%;
  }

  .nav-items {
    display: none;
  }

  .burger {
    display: block;
    float: right;
    margin-right: 20px;
    height: 100%;
  }

  .burger:hover {
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    margin-top: 30px;
    height: 4px;
    background-color: white;
    margin: 6px;
  }
}

@media only screen and (min-width: 768px) {
  .links-list ul {
    margin-top: -1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
  }

  .nav-links {
    font-size: 10px;
    letter-spacing: 0.3px;
    font-family: var(--nav-font);
    font-style: italic;
    color: var(--primary-color);
    text-decoration: none;
  }

  .main-nav {
    margin-right: 1%;
    width: 45%;
    /* background-color: red; */
  }
}

@media only screen and (min-width: 882px) {
  .links-list ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
  }

  .nav-links {
    font-size: 10px;
    letter-spacing: 0.3px;
    font-family: var(--nav-font);
    font-style: italic;
    color: var(--primary-color);
    text-decoration: none;
  }

  .main-nav {
    margin-right: 1%;
    width: 45%;
    /* background-color: red; */
  }
}
