extends layout

block content
  h1= title
  p /users - get all users 
  p /expenditure - get all expensive by users
  p /creditcards - get all credit cards
  p /cards/:id - Retrieved Cards By Expenditure Id
  P /userexpenses/:id - Retrieved users expenses by userId
