.creditboard{
    height: 50vh;
    background-color: rgb(245, 243, 243);
    border: 2px solid rgb(245, 243, 243);
    border-radius: 2px;
}
#board_header{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 22px;
    margin-top: 45px;
    margin-left: 20vw;

}

#tips{
    font-family: 'Josefin Slab', serif;
    margin-left: 20vw;
    font-size: 15px;
    margin-top:5px;
    font-weight: bold; 
}

#tips_list{
    margin-left: 20vw;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}

#check_score{
    height:20px;
    padding:10px;
    width: 28vh;
    margin-left: 19vw;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px lightgrey;
    cursor: pointer;
    background-color:lightblue;  
    font-weight: bold;
}

#check_liks{
    font-family: 'Cinzel', serif;
    text-decoration: none;
    color:white;
}

