* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

:focus {
  outline: none;
  caret-color: var(--hover-color);
}

body {
  background-color: var(--special-color);
}
/* LOGIN MAIN DIV */

.login-container {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 70vw;
  height: calc(100vh - 15vh);
  display: flex;
  align-self: center;
  border-radius: 5%;
  z-index: 1;
}

.login-image {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../../Images/login-image.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.login-image span {
  color: var(--primary-color);
  font-family: var(--content-font);
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 3px;
  font-weight: bold;
  border-bottom: 0.2px solid var(--hover-color);
  filter: blur(0.5px);
}

.login-form {
  display: flex;
  flex-direction: row;
  flex: 5;
  background-color: var(--secondary-color);
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.login {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 85%;
}

.login-header {
  margin-bottom: 8%;
  text-align: center;
  margin-left: 2%;
  font-family: "Crimson Pro", serif;
  font-size: 0.8rem;
  color: var(--primary-color);
  letter-spacing: 0.3px;
  font-weight: bold;
}

.login label {
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 11px;
  letter-spacing: 1px;
  font-family: "Crimson Pro", serif;
  color: var(--primary-color);
  font-weight: bold;
}

.login input[type="email"] {
  width: 24vw;
  height: 6vh;
  border: none;
  border-radius: 15px;
  font-family: "Crimson Pro", serif;
  letter-spacing: 0.3px;
  font-size: 13px;
  text-align: center;
  color: var(--secondary-color);
}

.login input[type="email"]:focus {
  outline: none;
  opacity: 0.9;
  text-decoration: none;
  border: 1px solid var(--hover-color);
}

.login input[type="password"] {
  border-radius: 15px;
  width: 24vw;
  height: 6vh;
  letter-spacing: 0.3px;
  font-family: "Crimson Pro", serif;
  font-size: 13px;
  font-weight: 800;
  text-align: center;
  color: var(--secondary-color);
  border: none;
}

.login input[type="password"]:focus {
  outline: none;
  opacity: 0.9;
  text-decoration: none;
  border: 1px solid var(--hover-color);
}

.btn-login {
  margin-top: 8%;
  width: 24vw;
  height: 6vh;
  font-family: "Crimson Pro", serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 5px;
  text-align: center;
  border-radius: 15px;
  color: var(--primary-color);
  background-color: var(--hover-color);
  transition: 100ms;
  transform: scale(1);
  box-shadow: 0px 0px 4px 2px var(--special-color);
  border: 1px solid transparent;
}

.btn-login:hover,
.btn-login:focus {
  outline: none;
  background-color: var(--primary-color);
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 100ms;
  transition: ease-in;
  transition-duration: 500ms;
}

.login-link {
  margin-top: 8%;
  width: 100%;
  color: var(--primary-color);
  letter-spacing: 0.3px;
  font-size: 12px;
  text-align: center;
  font-family: "Crimson Pro", serif;
  font-weight: bolder;
}

.login span #login {
  font-size: 12px;
  color: var(--hover-color);
  letter-spacing: 0.5px;
  margin-left: 1%;
  font-family: "Crimson Pro", serif;
}

.login span #login:hover,
.login span #login:focus {
  text-decoration-line: none;
  color: var(--primary-color);
}

/* smartphones  */

@media (max-width: 600px) {
  * {
    overflow-x: hidden;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-self: center;
  }

  .login-image {
    display: none;
  }

  .login-form {
    display: flex;
    flex-direction: row;
    flex: 5;
    background-color: var(--secondary-color);
  }

  /* .login-section {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 95vw;
    margin: 10vh auto;
    background-color: var(--secondary-color);
    border-radius: 15px;
  } */

  .login {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 60%;
    height: 85%;
  }

  .login-header {
    margin-top: -25%;
    margin-bottom: 7%;
    text-align: center;
    font-family: "Crimson Pro", serif;
    font-size: 14px;
    color: var(--primary-color);
    letter-spacing: 0.3px;
    font-weight: bold;
  }

  .login label {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 2%;
    margin-top: 10px;
    margin-left: 2%;
    font-size: 14px;
    letter-spacing: 0.3px;
    font-family: "Crimson Pro", serif;
    color: var(--primary-color);
    font-weight: bold;
  }

  .login input[type="email"] {
    margin-top: 3%;
    width: 90%;
    height: 5vh;
    border: none;
    border-radius: 15px;
    font-family: "Crimson Pro", serif;
    letter-spacing: 0.3px;
    font-size: 14px;
    text-align: center;
    color: var(--secondary-color);
  }

  .login input[type="password"] {
    margin-top: 3%;
    width: 90%;
    height: 5vh;
    border: none;
    border-radius: 15px;
    font-family: "Crimson Pro", serif;
    letter-spacing: 0.3px;
    font-size: 14px;
    text-align: center;
    color: var(--secondary-color);
  }

  .login .btn-login {
    margin-top: 10%;
    width: 90%;
    height: 5vh;
    font-family: "Crimson Pro", serif;
    font-size: 14px;
    letter-spacing: 0.3px;
    padding: 2px;
    border-radius: 15px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
  }

  .login .login-link {
    margin-top: 8%;
    width: 100%;
    color: var(--primary-color);
    letter-spacing: 0.3px;
    font-size: 14px;
    text-align: center;
    font-family: "Crimson Pro", serif;
  }

  .login span #login {
    font-size: 14px;
  }
}
