* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.signUp-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 95vh;
  margin-top: 8vh;
  border-bottom: 1.5px solid rgb(250, 211, 37);
  border-radius: 2%;
  background-color: var(--secondary-color);
}

.signUp-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
}
.form-logo{
  margin-top: -15%;
}

.signUp-form label {
  font-size: 10px;
  font-family: 'Crimson Pro', serif;
  font-weight: 200;
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 1.2px;
}

.signUp-form input[type="text"] {
  border-radius: 15px;
  width: 22vw;
  height: 5vh;
  font-family: 'Crimson Pro', serif;  
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  color: var(--secondary-color);
  border: none;
}

.signUp-form input[type="email"] {
  border-radius: 15px;
  width: 22vw;
  height: 5vh;
  font-size: 10px;
  font-family: 'Crimson Pro', serif;  
  font-weight: 300;
  text-align: center;
  color: var(--secondary-color);
  border: none;
}

.signUp-form input[type="password"] {
  border-radius: 15px;
  width: 22vw;
  height: 5vh;
  font-family: 'Crimson Pro', serif;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  color: var(--secondary-color);
  border: none;
}

.signUp-form input[type="text"]:focus{
  outline: none;
  opacity: 0.9;
  color: var(--secondary-color);
  border-bottom: 1.5px solid var(--hover-color);
}

.signUp-form input[type="email"]:focus {
  outline: none;
  opacity: 0.9;
  color: var(--secondary-color);
  text-decoration: none;
  border-bottom: 1.5px solid var(--hover-color);
}


.signUp-form input[type="password"]:focus {
  outline: none;
  opacity: 0.9;
  color: var(--secondary-color);
  text-decoration: none;
  border-bottom: 1.5px solid var(--hover-color);
}


.btn-submit {
  width: 22vw;
  height: 5vh;
  font-family: 'Crimson Pro', serif;  
  font-size: 10px;
  letter-spacing: 1.2px;
  margin-bottom: 20px;
  margin-top: 25px;
  padding: 2px;
  border-radius: 50px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: 2px 0px 5px #444;
}
.signUp-form .btn-submit:hover {
  opacity: 0.9;
  transition: ease-in;
  transition-duration: 1000ms;
  border: 1px solid var(--hover-color);
}

.signUp-form .btn-submit:focus {
  outline: none;
  opacity: 0.9;
  text-decoration: none;
  border-bottom: 1.5px solid var(--hover-color);
  cursor: pointer;
}

/* design the form span */

.signUp-form span {
  font-family: 'Crimson Pro', serif; 
  font-size: 10px;
  color: var(--primary-color);
  letter-spacing: 0.3px;
  font-weight: bold;
}

.signUp-form span #link {
  color: var(--hover-color);
  letter-spacing: 0.3px;
  margin-left: 2px;
}

.signUp-form span #link:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration-line: none;
}

/* smartphones */

@media (max-width: 568px) {
  /* main container */

  .signUp-container{
    width: 95vw;
    height: 79vh;
    margin-top: 10vh;
  }

  /* form container */
  .signUp-form {
    width: 95%;
    height: 100%;
    margin-top:5vh;

  }

  /* signUp form label */

  .signUp-form label {
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Crimson Pro', serif;
    font-weight: 200;
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: 1.2px;
  }

  /* input fields */
  
  .signUp-form input[type="text"] {
    border-radius: 15px;
    width: 90%;
    height: 5vh;
    font-family: 'Crimson Pro', serif;  
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: var(--secondary-color);
    border: none;
  }

  .signUp-form input[type="email"]{
    border-radius: 15px;
    width: 90%;
    height: 5vh;
    font-family: 'Crimson Pro', serif;  
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: var(--secondary-color);
    border: none;
  }

  .signUp-form input[type="password"]{
    border-radius: 15px;
    width: 90%;
    height: 5vh;
    font-family: 'Crimson Pro', serif;  
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: var(--secondary-color);
    border: none;
  }

  .signUp-form .btn-submit{
    border-radius: 15px;
    width: 90%;
    height: 5vh;
    font-family: 'Crimson Pro', serif;  
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: var(--secondary-color);
    border: none;
  }

  .signUp-form span {
    font-size: 14px;

  }

  /* Tables and Small Laptop */

  @media (max-width:768) {
    /* main container */

  .signUp-container{
    width: 95vw;
    height: 79vh;
    margin-top: 10vh;
  }

  /* form container */
  .signUp-form {
    width: 95%;
    height: 100%;
    margin-top:5vh;

  }

  /* signUp form label */

  .signUp-form label {
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Crimson Pro', serif;
    font-weight: 200;
    /* color: var(--primary-color); */
    color:red;
    font-weight: bold;
    letter-spacing: 1.2px;
  }

  /* input fields */
  
  .signUp-form input[type="text"] {
    border-radius: 15px;
    width: 90%;
    height: 5vh;
    font-family: 'Crimson Pro', serif;  
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: var(--secondary-color);
    border: none;
  }

  .signUp-form input[type="email"]{
    border-radius: 15px;
    width: 90%;
    height: 5vh;
    font-family: 'Crimson Pro', serif;  
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: var(--secondary-color);
    border: none;
  }

  .signUp-form input[type="password"]{
    border-radius: 15px;
    width: 90%;
    height: 5vh;
    font-family: 'Crimson Pro', serif;  
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: var(--secondary-color);
    border: none;
  }

  .signUp-form .btn-submit{
    border-radius: 15px;
    width: 90%;
    height: 5vh;
    font-family: 'Crimson Pro', serif;  
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: var(--secondary-color);
    border: none;
  }

  .signUp-form span {
    font-size: 14px;

  }
  }




}
