* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  --primary-color: #edf5fc;
  --secondary-color: black;
  --hover-color: #fc6508;
  --special-color: rgb(14, 13, 13);
  --content-font: "Crimson Pro", serif;
  --nav-font: "Lato", "sans-serif";
}

/* Header*/

/* ImageOne */

.imageOne {
  background-image: url("./../../Images/travel1.jpeg");
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* HeaderLogo */

.imageOneHeader {
  position: absolute;
  top: 55%;
  margin-left: 3%;
  width: 100%;
  text-align: center;
  background-color: transparent;
  color: var(--primary-color);
  padding: 10px;
  font-weight: bold;
  font-size: 27px;
  font-family: "Crimson Pro", serif;
  font-style: italic;
  letter-spacing: 1rem;
  text-transform: uppercase;
  border: 1px transparent solid;
  border-radius: 0.6rem;
}

.imageOneArrow {
  position: absolute;
  top: 82%;
  left: 50%;
  display: flex;
  justify-content: center;
  height: 20vh;
}

@keyframes jumping {
  from {
    margin-top: 20px;
  }

  to {
    margin-top: 10px;
  }
}

.imageOneArrow img {
  animation-name: jumping;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
}

/* MAIN CONTENT */

/* Container One */

.containerOne {
  height: 140px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

.contentHeaderOne {
  margin-top: 10px;
  justify-content: center;
  align-self: center;
  font-family: "Crimson Pro", serif;
  font-size: 14px;
  color: var(--hover-color);
  letter-spacing: 1px;
  font-weight: 800;
  padding: 12px;
  font-style: italic;
}

.contentParagraphOne {
  font-size: 10px;
  line-height: 1rem;
  height: 60%;
  font-family: "Crimson Pro", serif;
  letter-spacing: 0.3px;
  color: var(--primary-color);
  font-style: italic;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5%;
}

/* Container Two */

/* IMAGE TWO */

.imageTwo {
  background-image: url("./../../Images/travel_journey.jpg");
  min-height: 150px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.homeContentTwo {
  height: 100px;
  background-image: linear-gradient(
    -160deg,
    var(--primary-color) 5%,
    var(--secondary-color) 69%
  );
  display: flex;
}

.contentParagraphTwo {
  justify-content: flex-start;
  align-self: center;
  position: relative;
  font-size: 10px;
  font-family: "Crimson Pro", serif;
  letter-spacing: 0.3px;
  color: var(--hover-color);
  font-style: italic;
  margin-left: 5%;
}

/* Container Three */

.containerThree {
  height: 140px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

.contentHeaderThree {
  margin-top: 10px;
  justify-content: center;
  align-self: center;
  font-family: "Crimson Pro", serif;
  font-size: 14px;
  color: var(--hover-color);
  letter-spacing: 1px;
  font-weight: 800;
  padding: 12px;
  font-style: italic;
}

.contentParagraphThree {
  justify-content: flex-start;
  align-self: flex-start;
  font-size: 10px;
  line-height: 1rem;
  height: 60%;
  font-family: "Crimson Pro", serif;
  letter-spacing: 0.3px;
  color: var(--primary-color);
  font-style: italic;
  margin-left: 5%;
}

/* Container Three Image */

.imageThree {
  /* The image used */
  background-image: url("./../../Images/airplane.jpg");

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

/* FOOTER */

/* LAST IMAGE */

.lastImage {
  /* The image used */
  background-image: url("./../../Images/travel1.jpeg");
  /* Set a specific height */
  min-height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

/* smartphones */

@media (max-width: 600px) {
  .imageOne {
    min-height: 30vh;
  }

  .imageOneLogo {
    position: absolute;
    top: 35%;
    margin-left: 3%;
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: var(--primary-color);
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    font-family: "Crimson Pro", serif;
    letter-spacing: 1rem;
    text-transform: uppercase;
    border: 1px transparent solid;
    border-radius: 0.6rem;
  }

  .containerOne {
    height: 140px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
  }
  .contentHeaderOne {
    margin-top: 12px;
    justify-content: center;
    align-self: center;
    font-family: "Crimson Pro", serif;
    font-size: 16px;
    color: var(--hover-color);
    letter-spacing: 1px;
    font-weight: 800;
    padding: 12px;
    font-style: italic;
  }

  .contentParagraphOne {
    font-size: 12px;
    line-height: 1rem;
    height: 60%;
    font-family: "Crimson Pro", serif;
    letter-spacing: 0.3px;
    color: var(--primary-color);
    font-style: italic;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5%;
  }

  .imageTwo {
    min-height: 15vh;
  }

  .homeContentTwo {
    height: 80px;
    background-image: linear-gradient(
      -160deg,
      var(--primary-color) 5%,
      var(--secondary-color) 69%
    );
    display: flex;
  }

  .contentParagraphTwo {
    justify-content: flex-start;
    align-self: center;
    position: relative;
    font-size: 12px;
    font-family: "Crimson Pro", serif;
    letter-spacing: 0.3px;
    color: var(--hover-color);
    font-style: italic;
    margin-left: 5%;
  }

  .imageThree {
    min-height: 15vh;
  }

  .containerThree {
    height: 140px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
  }

  .contentHeaderThree {
    margin-top: 12px;
    justify-content: center;
    align-self: center;
    font-family: "Crimson Pro", serif;
    font-size: 16px;
    color: var(--hover-color);
    letter-spacing: 1px;
    font-weight: 800;
    padding: 12px;
    font-style: italic;
  }

  .contentParagraphThree {
    font-size: 12px;
    line-height: 1rem;
    height: 60%;
    font-family: "Crimson Pro", serif;
    letter-spacing: 0.3px;
    color: var(--primary-color);
    font-style: italic;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5%;
  }

  .lastImage {
    min-height: 35vh;
  }
}
