body{
  min-height: 100%; 
}
html{
  height: 100% 
}

/* IMAGE ONE */

.imageOne {
  background-image: url("./../../Images/travel.jpg");
  min-height:90vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  position: relative;
}

.imageOneLogo {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  
}

.imageOneLogo .imageOneHeader{
  background-color: rgb(151, 151, 151);
  color:#fff;
  padding: 20px;
  font-weight: 800;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  /* border:1px solid rgb(250, 223, 105); */
  border:1px solid rgb(250, 211, 37);

}

/* HOME CONTENT ONE AND Three*/
.containerOne, .containerThree   {
  height: 140px;
  background-color: #f4f4f4;
  display:flex;
  flex-direction: column;
  }

.contentHeaderOne, .contentHeaderThree{
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  color:#666;
  letter-spacing: 1px;
  font-weight: 800;
  padding: 12px;
  flex:2;
}

.contentParagraphOne, .contentParagraphThree{
  font-size: 10px;
  letter-spacing: 0.4px;
  height:60%;
  font-family: 'Source Sans Pro', sans-serif;
  color:#666;
  font-style: italic;
  flex:8;
  /* border: 5px dashed blue; */
}

/* HOME CONTENT TWO -QUOTE */

.homeContentTwo{
  height: 80px;
  background-color: rgb(37, 37, 37);
}

.contentParagraphTwo{
  position: relative;
  font-size: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(252, 252, 252);
  font-style: italic;
  padding: 30px;
 
}


/* IMAGE TWO */

.imageTwo {
  background-image: url("./../../Images/travel_journey.jpg");
  min-height: 150px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

/* IMAGE THREE */

.imageThree {
  /* The image used */
  background-image: url("./../../Images/airplane.jpg");

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

/* LAST IMAGE */

.lastImage {
  /* The image used */
  background-image: url("./../../Images/travel.jpg");

  /* Set a specific height */
  min-height: 90vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}



#logo {
  width: 15vw;
  height: 20vh;
  margin-left: -20px;
}

.buttons {
  width: 80vw;
  height: 150px;
  margin-left: 10vw;
  margin-top: 10vh;
  position: absolute;

}

/* HOMEPAGE NAVBAR */

.topbar {
  position: fixed;
  height: 25px;
  box-shadow: 2px 2px 2px rgb(199, 199, 199);
  background-color: rgb(151, 151, 151);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}

.nav_bar {
  position: fixed;
  float: right;
  margin-right: 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


#logo_name {
  font-size: 10px;
  font-family: 'Roboto Slab', serif;
  padding: 3px;
  text-decoration: none;
  color: rgb(1, 248, 236);
  transition: all 0.5s ease-in-out;
}

#aboutUs {
  font-size: 10px;
  font-family: 'Roboto Slab', serif;
  margin-right: 3px;
  text-decoration: none;
  color: rgb(1, 248, 236);
  transition: all 0.5s ease-in-out;
}

#credit_score {
  font-size: 10px;
  font-family: 'Roboto Slab', serif;
  margin-right: 3px;
  text-decoration: none;
  color: rgb(1, 248, 236);
  transition: all 0.5s ease-in-out;
}

#rewards {
  font-size: 10px;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  color: rgb(1, 248, 236);
  transition: all 0.5s ease-in-out;
}


#aboutUs:hover {
  color:rgb(250, 211, 37);
}

#credit_score:hover{
  color:rgb(250, 211, 37);
}

#rewards:hover {
  color:rgb(250, 211, 37);
}

#logo_name:hover {
  color:rgb(250, 211, 37);
}

