* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

#logo{
  border: 10px red;
  width: 15vw;
  height: 25vh;
}

.header {
  margin-top: -70px;
  text-align: center;
}
.sub-header {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.buttons {
  width: 80vw;
  height:150px;
  margin-left: 10vw;
  margin-top: 10vh;
  position: absolute;

}

#rewards-button:hover{
 cursor: pointer;
}

#credit-button:hover{
 cursor: pointer;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
